<div class="card">
  <h3 class="card-header">Login</h3>
  <form class="card-body">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" />
    </div>
    <button class="btn" type="submit">Log in</button>
    <a href="/signup">Signup</a>
  </form>
</div>
<script src="/js/login.js"></script>