<div class="card">
  <h3 class="card-header">Create New Posts</h3>
  <form id="new-post-form" class="card-body">
    <label for="post-title" class="form-label">Title</label>
    <input id="post-title" type="text" name="post-title" class="form-input" />

    <label for="form-body" class="form-label">Content</label>
    <textarea
      name="post-body"
      id="form-body"
      cols="30"
      rows="10"
      class="form-textarea"
    ></textarea>
    <button class="btn" type="submit">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>